{{ define "main" }}
<h1>Mike Olsen</h1>
<p class="intro">{{ .Site.Params.description }}</p>

<div class="graph-legend">
  <div class="legend-item"><span class="legend-dot foundational"></span> Foundational</div>
  <div class="legend-item"><span class="legend-dot core"></span> Core</div>
  <div class="legend-item"><span class="legend-dot theoretical"></span> Theoretical</div>
  <div class="legend-item"><span class="legend-dot empirical"></span> Empirical</div>
  <div class="legend-item"><span class="legend-dot applied"></span> Applied</div>
  <div class="legend-item"><span class="legend-dot practice"></span> Practice</div>
</div>

<p class="graph-instructions">Click articles to read. Hover for concepts defined. Solid lines show core relationships; dashed lines show thematic connections.</p>

<div id="graph-container"></div>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="/js/graph.js"></script>
{{ end }}
