{{ define "main" }}
<p class="intro">{{ .Site.Params.description }}</p>

<div class="graph-legend">
  <div class="legend-item"><span class="legend-dot hub"></span> Hub</div>
  <div class="legend-item"><span class="legend-dot foundational"></span> Foundational</div>
  <div class="legend-item"><span class="legend-dot core"></span> Core</div>
  <div class="legend-item"><span class="legend-dot theoretical"></span> Theoretical</div>
  <div class="legend-item"><span class="legend-dot empirical"></span> Empirical</div>
  <div class="legend-item"><span class="legend-dot applied"></span> Applied</div>
  <div class="legend-item"><span class="legend-dot practice"></span> Practice</div>
</div>

<p class="graph-instructions">Click articles to read. Hover for concepts defined. Drag to rotate. Scroll to zoom.</p>

<div id="concept-filter"></div>

<div id="graph-wrapper">
  <div id="graph-container"></div>
  <div id="node-panel">
    <div id="panel-content">
      <p class="panel-hint">Click a node to see details</p>
    </div>
  </div>
</div>

<script src="https://unpkg.com/three"></script>
<script src="https://unpkg.com/three-spritetext"></script>
<script src="https://unpkg.com/3d-force-graph"></script>
<script src="/js/graph.js"></script>
{{ end }}
